/* 
    --darker: #0D1321
    --dark: #1D2D44
    --neutral: #3E5C76
    --light: #748CAB
    --highlight: #F0EBD8 */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trispace", sans-serif;
  background-color: #3e5c76;
  color: #0d1321;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#content {
  margin: 0;
}
input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}
section {
  margin: 5rem 0;
  padding: 0 1.5rem;
}
h4 {
  color: #1d2d44;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1rem 0;
}
h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem 0;
}
.create-task input[type="text"] {
  display: block;
  width: 500px;
  font-size: 1.25rem;
  padding: 3rem 1rem;
  color: #1d2d44;
  background-color: #1d2d44;
  border: 1px solid #3e5c76;
}
.create-task ::placeholder {
  color: #f0ebd8;
}
.create-task input[type="text"]:focus {
  border-color: #f0ebd8;
  background-color: #0d1321;
  color: #f0ebd8;
}
.create-task input[type="submit"] {
  display: flex;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin: 1rem 0;
  color: #f0ebd8;
  background-color: #0d1321;
}
.create-task input[type="submit"]:hover {
  background-color: #748cab;
}
.task-list .task-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 1rem;
  background-color: #1d2d44;
  width: auto;
  border: 1px solid #f0ebd8;
}
.task-item .task-content,
input {
  color: #f0ebd8;
  margin: 0 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.task-item .task-content {
  flex: 1 1 0%;
}
.task-item.done .task-content input {
  text-decoration: line-through;
  color: #748cab;
}
.edit,
.delete {
  background-color: #0d1321;
  color: #f0ebd8;
  padding: 1rem 2.5rem;
}
.edit:hover,
.delete:hover {
  background-color: #748cab;
}
.delete {
  padding: 1rem 2rem;
}
input[type="checkbox"] {
  display: none;
}
.check {
  display: flex;
  width: 10px;
  height: 10px;
  border: 1px solid #f0ebd8;
}
.check::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
input:checked ~ .check::after {
  background-color: #748cab;
  width: 10px;
  height: 10px;
}
/* Responsiveness */
@media screen and (max-width: 767px) {
  .create-task input[type="text"] {
    width: 450px;
    font-size: 1rem;
  }
}
